# Ignore environment files
.env
*.env

# Ignore Python cache directories and files
backend/api/__pycache__/
backend/api/migrations/__pycache__/S
backend/backend/__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignore VSCode settings
.vscode/

env/

# Ignore node modules
frontend/node_modules/
.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local