.homeTop{
    display: flex;
    align-items: center;
    background-color: #531b70;
    height: 8vw;
}

#profileButton{
    background-color: white;
    width: 8vw;
    height: 4vw;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    right: 5vw;
}

.userImg{

    width: 3vw;
    height: 3vw
}

#profileButton:hover{
    background-color: gray;
}

.ime{
    font-size: 2vw;
    color: white;
    margin-left: 5%;

}

.navigacija{
    border-radius: 10%;
    background-color: #531b70;
    width: 20%;
    margin: 10px 15px;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#navButtons{
    margin-top: 10%;
    width: 75%;
    height: 3vw;
    font-size: 1.5vw;
}

#quizButtons{
    font-size: 1.2vw;
    height: 2vw;

}

#quizInput{
    width: 50vw;
    height: 2vw;
    font-size: 1.3vw;
}

.contactButton{
    margin-top: 40vh;
    height: 6vw;
}
#contacts{

    width: 75%;
    height: 3vw;
    font-size: 1.5vw;
}

.quizes{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 25%;
}

.kviz{
    background-color: #ca76f7;
    position: absolute;
    width: 50%;
    margin: 2%;
    border-radius: 5%;
    height: 30%;
}

.popupOverlay{
    position: absolute;
    height: 100%;
    width: 65%;
    margin-left: 25%;

    display: flex;
    justify-content: center;
    font-size: 100%;

}

textarea{
    font-size: 1.1vw;
    width: 50vw;
}

#addQuizText{
    font-size: 1.5vw;
}

.nazivKviza{
    position: absolute;
    margin: 5% 40%;
    font-size: 2vw;
}

.opisKviza{
    position: absolute;
    margin-left: 40% ;
    margin-top: 10%;
    width: 60%;
    font-size: 1.3vw;
}

.slikaKviza{
    width: 30%;
    height: 60%;
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
}

#prijaviSe{
    width: 50%;
    height: 30%;
    position: relative;
    margin-left: 20%;
    margin-top: 30%;
    font-size: 1.3vw;

}


