.kviz{
    background-color: #ca76f7;
    position: relative;
    margin: 2%;
    border-radius: 30px;
    height: 30%;
    width: 120%;
}

.nazivKviza{
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 2.4vw;
    font-weight: 700;
}

.opisKviza{
    margin-top: 1vw;
    position: relative;
    top: 5%;
    left: 5%;
    width: 60%;
    font-size: 1.5vw;
    font-weight: 500;
}

.informacije{
    position: relative;
    display: flex;
    margin-top: 1vw;
    justify-content: space-between;
    width: 80%;
    left: 5%;
    font-size: 1.2vw;
    
}

.prijava{
    position: relative;
    top: 5%; 
}
#prijaviSe{
    font-size: 1.3vw;
    width: 25%;
    height: 2.3vw;
}

button:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


