.filterDiv{
    position: fixed;
    top: 1vw;
    bottom: 1vw;
    border-radius: 30px;
    background-color: #531b70;
    left: 1vw;
    width: 35vw;
    height: 95%;
    z-index: 1;
    padding-left: 2%;
    overflow-y: auto;

}
.lokacija{
    width: 100%;
    position: relative;
    color: white;
}

.distance {
    color: white;
}

.kvizoviText {
    color: white;
}

.kvizovi{
    width: 100%;
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    overflow-x: auto;
    padding-right: 10px;
}

.pac-target-input{
    width: 90%;
    font-size: 1vw;
    height: 3vw;
}

.kvizMap{
    background-color: #ca76f7;
    position: relative;
    margin: 2%;
    border-radius: 30px;
    height: 30%;
    width: 90%;
}

  

#prijaviSe {
    width: 45%;
    height: 30%;
    font-size: 100%;
}

.informacije p{
    font-size: x-small;
    position: relative;
}

.kvizovi::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar track background */
.kvizovi::-webkit-scrollbar-track {
    background: #ab4cdb; /* Background color of the track */
    border-radius: 5px;
}

/* Style the scrollbar thumb (the draggable part) */
.kvizovi::-webkit-scrollbar-thumb {
    background-color: white; /* Thumb color */
    border-radius: 4px; /* Round the corners of the thumb */
    border: 0.5px solid #444; /* Add a border for contrast */
}

/* Style the scrollbar thumb on hover */
.kvizovi::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}
.maps{
    position: absolute;
    top: 0vw;

    }


.kviz {
    width: 100%;
}