.filterDiv{
    position: fixed;
    top: 7vw;
    border-radius: 30px;
    background-color: #531b70;
    left: 5vw;
    width: 25vw;
    height: 80vh;
    z-index: 1;
    padding-left: 5%;

}
.lokacija{
    width: 100%;
}

.kvizovi{
    width: 100%;
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.kvizovi::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar track background */
.kvizovi::-webkit-scrollbar-track {
    background: #ab4cdb; /* Background color of the track */
    border-radius: 5px;
}

/* Style the scrollbar thumb (the draggable part) */
.kvizovi::-webkit-scrollbar-thumb {
    background-color: white; /* Thumb color */
    border-radius: 4px; /* Round the corners of the thumb */
    border: 0.5px solid #444; /* Add a border for contrast */
}

/* Style the scrollbar thumb on hover */
.kvizovi::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}
.maps{
    position: absolute;
    top: 0vw;

    }