.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background-color: #281549;
    border-radius: 50px;
    color: white;
    text-align: center;
}


/* DropdownInfo container */
.dropdownInfo {
    position: relative;
    display: inline-block;
}

/* DropdownInfo button */
.dropdownInfoButton {
    background-color: rgba(164,74,213,255);
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 15px;
}

/* DropdownInfo content (hidden by default) */
.dropdownInfoContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90%;
    margin-left: 5%;
    min-height: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 50px;
    padding: 10px;
}

/* DropdownInfo links */
.dropdownInfoContent a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

/* Add hover effect to DropdownInfo links */
.dropdownInfoContent a:hover {
    background-color: #f1f1f1;
}

.info-text {
    background-color: #ffffff; /* Bijela pozadina */
    border-radius: 10px; /* Zaobljeni rubovi */
    padding: 15px; /* Unutarnji razmak */
    margin: 20px auto; /* Vanjski razmak i centriranje */
    max-width: 80%; /* Maksimalna širina */
    font-size: 16px; /* Veličina fonta */
    color: #000000; /* Tamnosiva boja teksta */
}




/* Show DropdownInfo when active */
.dropdownInfoContent.show {
    display: block;
}


h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

form{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    margin-top: 8px;
    background:  hsl(270, 74%, 82%);
    border-radius: 50px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 220px;
    height: 59px;
    color: white;
    background-color:#a44ad5;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

#googleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 220px;
    height: 59px;
    color: black;
    border-radius: 0;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#googleButton:hover{
   background-color: #c499dc;
}

button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 220px;
    height: 59px;
    color: white;
    background-color:#512569;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

a{
    color: rgb(160, 153, 153);
}

select{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 50px;
    color: black;
    background-color:hsl(270, 74%, 82%);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

#googleButton{
    margin-top: 5%;
}





